<div class="login-container">
  <div class="bg-shapes">
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
  </div>

  <div class="login-card">
    <div class="logo">
      <i class="fab fa-spotify"></i>
    </div>
    <h1>Connect your Spotify</h1>
    <p class="subtitle">Explore your profile, top artists and tracks.</p>
    <button class="spotify-btn" (click)="loginWithSpotify()">
      <i class="fab fa-spotify"></i>
      Sign in with Spotify
    </button>
    <p class="notice">We use Spotify's secure sign-in. We don't store your password.</p>
  </div>
</div>


