<div class="profile-container">
  <div class="sidebar">
    <div class="logo">
      <i class="fab fa-spotify"></i>
    </div>

    <div class="menu">
      <ul>
        <li [ngClass]="{'active': selectedMenuItem === 'profile'}" (click)="selectMenuItem('profile')" [routerLink]="['/profile']">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </li>
        <li [ngClass]="{'active': selectedMenuItem === 'top-artists'}" (click)="selectMenuItem('top-artists')" [routerLink]="['/top-artists']">
          <i class="fas fa-microphone"></i>
          <span>Top Artists</span>
        </li>
        <li [ngClass]="{'active': selectedMenuItem === 'top-tracks'}" (click)="selectMenuItem('top-tracks')" [routerLink]="['/top-tracks']">
          <i class="fas fa-music"></i>
          <span>Top Tracks</span>
        </li>
        <li [ngClass]="{'active': selectedMenuItem === 'recent'}" (click)="selectMenuItem('recent')" [routerLink]="['/recent']">
          <i class="fas fa-clock"></i>
          <span>Recent</span>
        </li>
        <li [ngClass]="{'active': selectedMenuItem === 'playlists'}" (click)="selectMenuItem('playlists')" [routerLink]="['/playlists']">
          <i class="fas fa-list"></i>
          <span>Playlists</span>
        </li>
      </ul>
    </div>
    <div class="bottom-icon">
      <i class="fab fa-github"></i>
    </div>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

