<div class="profile-container">
  <div class="sidebar">
    <div class="logo">
      <i class="fab fa-spotify"></i>
    </div>

    <div class="menu">
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="menu-link" routerLink="/profile" aria-label="Profile" title="Profile">
            <i class="fas fa-user"></i>
            <span>Profile</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a class="menu-link" routerLink="/top-artists" aria-label="Top Artists" title="Top Artists">
            <i class="fas fa-microphone"></i>
            <span>Top Artists</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a class="menu-link" routerLink="/top-tracks" aria-label="Top Tracks" title="Top Tracks">
            <i class="fas fa-music"></i>
            <span>Top Tracks</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a class="menu-link" routerLink="/recent" aria-label="Recent" title="Recent">
            <i class="fas fa-clock"></i>
            <span>Recent</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a class="menu-link" routerLink="/playlists" aria-label="Playlists" title="Playlists">
            <i class="fas fa-list"></i>
            <span>Playlists</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="bottom-icon">
      <a href="https://github.com/jbarzallo97/spotify-jb7" target="_blank" rel="noopener noreferrer" aria-label="GitHub Repository" title="View on GitHub">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

