<div class="profile-container">
  <div class="profile-header">
    <div class="content-container">
      <h1>Top Artist</h1>
      <div class="time-period-container">
        <button class="time-period"
                [ngClass]="{'active': selectedPeriod === 'allTime'}"
                (click)="selectPeriod('allTime')">All Time</button>
        <button class="time-period"
                [ngClass]="{'active': selectedPeriod === 'last6Months'}"
                (click)="selectPeriod('last6Months')">Last 6 Months</button>
        <button class="time-period"
                [ngClass]="{'active': selectedPeriod === 'last4Weeks'}"
                (click)="selectPeriod('last4Weeks')">Last 4 Weeks</button>
      </div>
    </div>
  </div>

  <!-- Nueva sección de artistas en formato grid -->
  <div class="artists-container">
    <div class="artist-item">
      <img src="assets/images/file.jpg" alt="Miel San Marcos">
      <p>Miel San Marcos</p>
    </div>
    <div class="artist-item">
      <img src="assets/images/file.jpg" alt="Juan Carlos Alvarado">
      <p>Juan Carlos Alvarado</p>
    </div>
    <div class="artist-item">
      <img src="assets/images/file.jpg" alt="Third Artist">
      <p>Third Artist</p>
    </div>
    <div class="artist-item">
      <img src="assets/images/file.jpg" alt="Miel San Marcos">
      <p>Miel San Marcos</p>
    </div>
    <div class="artist-item">
      <img src="assets/images/file.jpg" alt="Miel San Marcos">
      <p>Miel San Marcos</p>
    </div>
    <div class="artist-item">
      <img src="assets/images/file.jpg" alt="Miel San Marcos">
      <p>Miel San Marcos</p>
    </div>
    <div class="artist-item">
      <img src="assets/images/file.jpg" alt="Miel San Marcos">
      <p>Miel San Marcos</p>
    </div>
    <div class="artist-item">
      <img src="assets/images/file.jpg" alt="Miel San Marcos">
      <p>Miel San Marcos</p>
    </div>
    <div class="artist-item">
      <img src="assets/images/file.jpg" alt="Miel San Marcos">
      <p>Miel San Marcos</p>
    </div>
    <div class="artist-item">
      <img src="assets/images/file.jpg" alt="Miel San Marcos">
      <p>Miel San Marcos</p>
    </div>
    <div class="artist-item">
      <img src="assets/images/file.jpg" alt="Miel San Marcos">
      <p>Miel San Marcos</p>
    </div>
    <div class="artist-item">
      <img src="assets/images/file.jpg" alt="Miel San Marcos">
      <p>Miel San Marcos</p>
    </div>
  </div>

</div>
