<div class="profile-container">
  <div class="profile-header">
    <img class="profile-picture" [src]="profile.pictureUrl" [alt]="profile.name">
    <h1>{{ profile.name }}</h1>
    <div class="profile-stats">
      <div>
        <span class="profile-number">{{ profile.followers }}</span>
        <span class="profile-label">FOLLOWERS</span>
      </div>
      <div>
        <span class="profile-number">{{ profile.following }}</span>
        <span class="profile-label">FOLLOWING</span>
      </div>
      <div>
        <span class="profile-number">{{ profile.playlists }}</span>
        <span class="profile-label">PLAYLISTS</span>
      </div>
    </div>
    <button class="logout-button" (click)="logout()">LOGOUT</button>
  </div>

  <div class="content-container">
    <div class="top-artists">
      <div class="artists-header">
        <h2>Top Artists of All Time</h2>
        <button class="see-more-button">SEE MORE</button>
      </div>
      <ul>
        <li *ngFor="let artist of topArtists">
          <img *ngIf="artist.imageUrl" [src]="artist.imageUrl" [alt]="artist.name" class="artist-image">
          {{ artist.name }}
        </li>
      </ul>
    </div>
    <div class="top-tracks">
      <div class="tracks-header">
        <h2>Top Tracks of All Time</h2>
        <button class="see-more-button">SEE MORE</button>
      </div>
      <ul>
        <li *ngFor="let track of topTracks">
          <div class="track-info">
            <img [src]="track.imageUrl" [alt]="track.title" class="track-image">
            <span>{{ track.title }}</span>
          </div>
          <span class="track-duration">{{ track.duration }}</span>
        </li>
      </ul>
    </div>

  </div>
</div>



